@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --boardWidth: min(94vh, 94vw);
  --boardHeight: min(94vh, 94vw);
  --fontSize: min(8vh, 8vw);
  --delay: 0.9s;
  --gridGap: 1.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  font-family: "Fredoka One", cursive;
  font-size: min(6.5vh, 6.5vw);
  text-align: center;
  box-sizing: border-box;
  user-select: none;
  height: 100vh;
  width: 100vw;
}

.Board {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: var(--boardWidth);
  height: var(--boardHeight);
}

.Choose {
  position: fixed;
  width: 100%;
  height: min(8vh, 8vw);
  bottom: 0;
  border-top: 1px solid blue;
  background-color: #e1f4ff;
}

.Choose div {
  display: inline-block;
  padding: 0 1vh 0 1vh;
  margin: 0vh 0 0vh 0;
  font-size: min(6.5vh, 6.5vw);
  vertical-align: top;
}

.Choose div:hover {
  background-color: rgb(27, 102, 122);
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.boardColumn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5%;
  height: 100%;
}

.boardRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5%;
}

h1 {
  text-align: center;
}

.result {
  padding: 10px;
  margin: 10px;
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.flipper {
  position: relative;
}

.Block,
.BlockBlank {
  display: grid;
  place-items: center;
  box-sizing: border-box;
  font-size: var(--fontSize);
  background-color: #76afce;
  width: 100%;
  height: 100%;
  border: 0px solid black;
  line-height: 100%;
  border-radius: 12%;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: var(--delay);
  transform-style: preserve-3d;
}

.NoTransition {
  transition: 0s;
}

.Block {
  transform: rotateY(-180deg);
}

.BlockBlank {
  border: 1px solid rgb(39, 39, 39);
  background-color: #0072b0;
  /* background-image: url(http://www.transparenttextures.com/patterns/black-scales.png); */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAMFBMVEUqKiosLCwuLi4xMTErKystLS0qKiopKSkpKSkzMzMpKSkoKCg3NzcoKCgrKysnJydKwFaoAAAAEHRSTlNcQDIqTjlVanEjY3gcf0eVx2e4NwAAAJNJREFUeAHt0SEKwmAAQOEHDrVYdEmTgwXBoCzZ9l9h8HeT2Wa1CUY9gc3qFTyBJ/EKij+DF7yAwfbVx+Nc5kBoVoUi5mugG2Kh+Ci5UtRJkFWKcctLpVi07ERFeUy6Nk/FaLIH+rflRhHmgwO7xz1XkA1Pvdd2Nq2VMQpjlDHqK0YZo4xRxihjFMYoMEb9/qP/ozcE1oO5SZysbgAAAABJRU5ErkJggg==);
  cursor: pointer;
  transform: rotateY(0deg);
}

.Empty {
  background-color: #e1f4ff;
  width: 100%;
  height: 100%;
  border-radius: 12%;
}
